main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 14vh;
  width: 100%;
}

.movieDesc {
  padding: 8px 0vh 0px 1vh;
  text-align: center;
}

.movieDesc h1 {
  color: #ffffff;
  font-size: 3vh;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px; /* Ajuste de espaçamento acima dos botões */
  margin-bottom: 10px; /* Ajuste de espaçamento abaixo dos botões */
  gap: 16px;
}

  .main-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinha os elementos centralmente */
}

.movieDesc {
  padding: 8px 0vh 0px 1vh;
  text-align: center;
}

.movieDesc h1 {
  color: #ffffff;
  font-size: 3vh;
}

.movie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-movie-content {
  display: flex;
}

.moviePoster img {
  border-radius: 8px;
  width: 236px;
  height: 368px;
}

.text {
  text-align: center;
  color: #ffffff;
  font-size: 28px;
}

.primary-btn {
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  width: auto;
  max-width: 252px;
  align-self: center;
  margin-bottom: 20px;
  height: 75px;
  font-size: 28px;
}

.movieRating {
  color: #ffffff;
  display: flex;
  justify-content: center;
  background-color: rgba(177, 177, 177, 0.295);
  width: 580px;
  padding: 60px 0px 60px 0px;
  border-radius: 10px;
  margin: 0 28px;
  font-size: 32px;
}

.rating-container {
  display: flex;
  flex-direction: column;
}

.rr1 {
  display: flex;
  justify-content: space-around;
  gap: 2vh;
  margin: 1vh;
}

.rr2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 2vh;
  gap: 1vh;
}

.Stars svg:hover {
  cursor: pointer;
}

.rr3 {
  display: flex;
  margin: 2vh;
  gap: 1vh;
  align-items: center;
  flex-direction: column;
}

#icons:hover {
  cursor: pointer;
}

#icons {
  display: flex;
  justify-content: center;
  margin: 1vh;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 15px;
}

.custom-btn {
  border-radius: 50px;
  border: 1px solid #000;
  background: rgba(217, 217, 217, 0.25);
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 30px;
  height: 56px;
}

.elenco {
  margin-top: 233px;
  font-size: 57px;
  color: white;
  padding: 0 24px;
}
  .single-movie-content {
    margin-top: 12vh;
  }


.Stars svg {
  transition: color 0.4s ease-in-out;
}

.Stars svg:hover {
  cursor: pointer;
  color: white;
}
